@import url(https://fonts.googleapis.com/css?family=Enriqueta:700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,900italic,400italic,700,700italic,900);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300italic|Fira+Sans:400,300italic);

body{
  background: ;

}

.container-fluid{
  padding-top: 3%;


}
/*---------------home page fonts and placement of columns-------------*/
.titlehome{
  font-size: 3em;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300 italic;
  color:#800000;
}

.form{
  position: absolute;
  margin-left: 43%;
  

}
.submit {
  text-align: center;
}

.navbar{
  position: absolute;
  

}

.line{
  border-top:grey 2px solid;
}

.linetwo{
  border-top: white;
  padding-top: 2%;
}


.name {
  font-size: 4em;
  text-decoration: none;
  font-family: 'Enriqueta', serif;
  font-weight: 400;
  padding-bottom: 20%;

}

.route{
  font-size: 2em;
  margin-left: 5%;
  text-decoration: none;
  color:#800000;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

h4 {
  font-family: 'Merriweather', serif;
  font-weight: 400 italic;
}

/*----------------slider positioning---------------*/
#slider {
	width: 400px;
}

.slidersfont{
  width: 45px;
  font-size: 1.5em;
  border: none;
  color: red;
  padding-bottom: 5px;
  
}

.sliders{
  width: 90px;
  margin:auto;
  border: none;
  color: red;
  
}

.right{
  text-align:center;
  margin:auto;
  width: auto;
  height:auto;
  overflow: scroll;
 }


/*-------the chart in data-------------*/

#viz {
  margin-left:1px;
}

/*-----------links------------*/
a:link{
  text-decoration: none
}

a:hover, :after {
  
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
 -moz-border-radius: 10px 10px 10px 10px;
 -webkit-border-radius: 10px 10px 10px 10px;

}



/*------created a mini card for the log ---------------*/
.mini-card{
  width:500px;
  height:40px;
  text-align: left;
  border: 2px solid #8f8f8f;border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: 2px solid #8f8f8f;

}

input.carbutton{
  padding-bottom:3px;
  width:12px;
  height:12px;
}

.badge{
  background-color: #52bab3;
}


/*---------------------------crazy long code for styling the slider ranges from css-tricks!!!--------*/
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
/*------------d3 styling------------------*/

.ui-tooltip, .arrow:after {
	background: black;
	border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px blue;
  }
.arrow {
    width: 50px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }

output { 
  position: absolute;
  background-image: linear-gradient(top, #444444, #999999);
  width: 40px; 
  height: 30px; 
  text-align: center; 
  color: white; 
  border-radius: 10px; 
  display: inline-block; 
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}

output:after { 
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}


.circle:hover {
  background-color: orangered ;
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.d3-tip  {
  line-height: 1;
  font-weight: bold;
  padding: 15px;
  background:rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10%;
  opacity: 0.3;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.y, .x {

 color: white;
}



