<div ng-app="finalNode">

<div class="col-md-12 col-xs right">

<h5 class="about">Visualize is an API-based application, designed to gather specific data and assess results with visualization.</h5><h5 class="about">It is an API using the MongoDB, Express, Angular, Node.js full-stack development tool.</h5><h5 class="about">It dynamically generates data updates, from users input to chart results using JavaScript  D3.js visualization library.<h5 class="about">It also has the capability to access a data log to administrators, in order to evaluate data being gathered.</h5>







</div>

