
<div class="right">
<h5 class="right">brooklyn bronx manhattan staten island queens</h5>
<p class="fright"></p>
</div>
<script>
 $(document).ready(function(){
 


 //-------------this is size of viz window--------------//
var margin = {top: 40, right: 20, bottom: 30, left: 40},
    width = 625 - margin.right - margin.left
    height = 500 - margin.top - margin.bottom;
var padding = 70;
//-------------this starts the axis------------//
//------------tip function-----------//


var tip = d3.tip()
  .attr('class', 'd3-tip')
  .html(function(d) {
    return "<div>" + "County: " + d.borough + "<br> Neighborhood: " + d.neighborhood + "<br>Safety Rating: " + d.safe + "<br> 50 being the most safe!"  ;
  })
  .offset([-5, 0])
 //---------------takes data from api-----------------//
 
        


d3.json("http://45.55.46.92:8080/api/entities/", function(data){
  var svg = d3.select("p")
 	.append("svg")
 	.attr('id', 'viz')
 	.attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  // .call(d3.behavior.zoom().on("zoom", function () {
  //       svg.attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")")
  //     }))
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
    .call(tip)
    
 
// xScale.domain([0, d3.max(data, function(d){return d.neighborhood})]);
// yScale.domain([0, d3.max(data, yValue)+1]);
//--------------creates the axis and ticks----------------//
var xValue = function(d) { return d.rent;},
    xScale = d3.scale.linear().domain([0, 5500, d3.max(data, function(d){return d.rent;})])
    .range([0, width]),
    xMap = function(d){ return xScale(xValue(d));},
    xAxis = d3.svg.axis().scale(xScale).orient("bottom");
    
var yValue = function(d) { return d.negative;},
    yScale = d3.scale.linear().domain([0, 45, d3.max(data, function(d){return d.negative;})])
    .range([height, 0]),
    yMap = function(d){ return yScale(yValue(d));},
    yAxis = d3.svg.axis().scale(yScale).orient("left");

    

  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis)
      .append("text")
      .attr("class", "label")
      .attr("x", width)
      .attr("x", 550)
      .attr("y", 19)
      .style("text-anchor", "end")
      .text("Rent")


	svg.append("g")
    .attr("class", "y axis")
    .style("color", 'MIDNIGHTBLUE')
    .call(yAxis)
      .append("text")
      .attr("class", "label")
      .attr("transform", "rotate(-90)")
      .attr("y", -33)
      .style("text-anchor", "end")
      .text("Do you feel you're overpaying?")

//------------------creates the circles----------------//
  curses = svg.selectAll('circle')
		.data(data)
		.enter()
		.append('circle')
		.attr('class', 'hvr-hang');
		curses.attr('r', function(d) {
          return Math.abs(d.safe)})
		.attr('cx', function(d){return xScale(d.rent)})
		.attr('cy', function(d){return yScale(d.negative)})

		.style('stroke', 'GAINSBORO')
		.style('stroke-width', 3)
		.style('opacity', 0.8)
		.style('fill', function(d){
			if(d.borough === "brooklyn"){
				return "FIREBRICK"
			}
			else if(d.borough === "queens"){
				return "STEELBLUE"
			}
			else if(d.borough === "manhattan"){
				return "YELLOW"
			}
			else if(d.borough === "bronx"){
				return "LAWNGREEN"
			}
			else if(d.borough === "staten island"){
				return "DARKSLATEGRAY"
			}
		})
   
		.on('mouseover', tip.show)
    .on('mouseout', tip.hide)
})


});
</script>
</body>