  <script>
  function updateTextInput(val) {
    document.getElementById('textInput').value=val;
     
    }
    function updateTextInputTwo(val) {
     document.getElementById('textInputTwo').value=val;
    }
    function updateTextInputThree(val) {
    document.getElementById('textInputThree').value=val;
     
    }

  </script>

<body ng-finalNode="validationApp" ng-controller="mainController" >
               
              <div class="col-md-4 right">
              <form name="userForm" novalidate>

            
                <h3 class="titlehome">Questionnaire</h3>
                <h5>Borough You live In</h5>
                  <input id="slider" type="text" name="borough" class="form-control input-lg center text-lowercase" placeholder="brooklyn, bronx, staten island etc..." ng-model="formData.borough"  ng-minlength="2" ng-maxlength="20" required>
               <div class="help-block" ng-messages="userForm.borough.$error" ng-if="userForm.borough.$touched">
                  <p ng-message="minlength">Your name is too short.</p>
                  <p ng-message="required">Your name is required.</p>
              </div>
        
                <h5>Neighborhood You live In</h5>
                  <input id="slider" type="text" name="neighborhood" class="form-control input-lg center text-lowercase" placeholder="bed-stuy, east-village, bushwick etc.." ng-model="formData.neighborhood" ng-minlength="2" ng-minlength="10" required>
              

              
            <h5>Rent From 500 to 5000</h5>
              <input id="slider" type="range" name="input" class="amount" min="500" max="5000" value="1"  ng-model="formData.rent" onchange="updateTextInput(this.value);"><br>
              <input type="text" class="sliders" id="textInput" val="" required><br>
             

            
            <h5>In a scale from 1 to 10 do you feel you are overpaying.</h5>
              <input id="slider" type="range" name="input" class="amount" min="10" max="50" value="1"  ng-model="formData.negative"onchange="updateTextInputTwo(this.value);"><br>
              <input type="number" class="slidersfont" id="textInputTwo" val="" required><br>
              

            
            <h5>In a scale from 1 to 50 how safe you feel in your neighborhood.</h5>
              <input id="slider" type="range" name="input" class="amount" min="10" max="50" value="1"  ng-model="formData.safe" onchange="updateTextInputThree(this.value);"><br>
              <input type="text" class="slidersfont" id="textInputThree" val="" required><br><br>

              <a href="#/data"><button type="submit" class="btn btn-primary btn-lg submit" ng-click="createEntity()" ng-disabled="userForm.$invalid">Submit</button></a>
              </form>
              </div><br>
           

          
              
              
      
              
          
    





