  <script>
  function updateTextInput(val) {
    document.getElementById('textInput').value=val;
     
    }
    function updateTextInputTwo(val) {
     document.getElementById('textInputTwo').value=val;
    }
    function updateTextInputThree(val) {
    document.getElementById('textInputThree').value=val;
     
    }

  </script>

<body ng-controller="mainController" >
               
              <div class=".col-md-9 col-xs">
              <hr class="line">
              <form>
                <h1 class="titlehome">Questionnaire</h1>
                <h4>Borough You live In</h4>
                  <input id="slider" type="text" name="borough" class="form-control input-lg center" placeholder="Brooklyn, bronx etc..." ng-model="formData.borough">
              
        
                <h4>Neighborhood You live In</h4>
                  <input id="slider" type="text" name="neighborhood" class="form-control input-lg center" placeholder="Bed-stuy, LES, Bushwick etc.." ng-model="formData.neighborhood">
              

              
            <h4>Rent</4>
              <input id="slider" type="range" name="input" class="amount" min="500" max="3000" value="1" title="We ask for your age only for statistical purposes." ng-model="formData.rent" onchange="updateTextInput(this.value);">
              <input type="text" class="sliders" id="textInput" val=""><br>
             

            
            <h4>In a scale from 1 to 50 how angry you feel about the neighborhood.</h4>
              <input id="slider" type="range" name="input" class="amount" min="1" max="50" value="1" title="We ask for your age only for statistical purposes." ng-model="formData.negative"onchange="updateTextInputTwo(this.value);">
              <input type="number" class="slidersfont" id="textInputTwo" val=""><br>
              

            
            <h4>In a scale from 1 to 50 how safe you feel about the neighborhood.</h4>
              <input id="slider" type="range" name="input" class="amount" min="1" max="50" value="1" title="We ask for your age only for statistical purposes." ng-model="formData.safe" onchange="updateTextInputThree(this.value);">
              <input type="text" class="slidersfont" id="textInputThree" val=""><br><br>
              <button type="submit" class="btn btn-primary btn-lg submit" ng-click="createEntity()">Add</button>
              </form>
              </div><br>

            </div>

          
              
              
      
              
          
    





